.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px; /* adjust as needed */
  margin: 0 auto;
}

.map-wrapper img {
  width: 100%;
  display: block;
}

.map-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
